<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    
  </system.web>
  <!--<entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
  <connectionStrings>
    <add name="dbConnect"
         connectionString="Data Source=DESKTOP-31LD88O;Initial Catalog=PomodoroBDD;Integrated Security=True"
         />
  </connectionStrings>
</configuration>