@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                SuccessClass="success-toast-override"
                SuccessIconClass="fa fa-thumbs-up"
                ErrorIconClass="fa fa-bug" />

<BlazoredModal />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <p class="sidebar-content">Benjamin STRABACH - Anaïs TATIBOUËT</p>
        <p class="sidebar-content">Module Environnement .Net</p>
    </div>
    <div class="content">
        @Body
    </div>
</div>