@page "/History"
@using System.Threading;
@using Data;
@using System;

<div class="m-5">
    <table class="table ml-5" style="width:50vw; margin-top: 14vh !important">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Tag</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    10/05/2020
                </td>
                <td>
                    Projet C#
                </td>
            </tr>
            <tr>
                <td>
                    10/02/2020
                </td>
                <td>
                    MSPR - Dev
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <img src="../medias/images/kitten-3.png" alt="kitten" class="kitten-right" style="width:14vw" />
    </div>
</div>

@code {

}