@page "/"
@using System.Threading;
@using Data;
@using System;

    <div class="bgPomodoro">
        <div class="card text-center m-auto" style="width: 30vw;">
            <div class="card-header bg-dark text-light">
                <h2>@pomodoroTitle</h2>
                <div>
                    <button class="btn btn-outline-light" @onclick="changeMode"><span class="oi oi-s"></span>Choisir @modeBtn</button>
                </div>
            </div>
            <div class="card-body">
                <h1 class="m-4">@timeElapsedString</h1>
                <button class="btn btn-success actiontimer" @onclick="Start"><span class="oi oi-media-play"></span></button>
                <button class="btn btn-danger actiontimer" @onclick="Stop"><span class="oi oi-media-pause"></span></button>
                <button class="btn btn-warning actiontimer" @onclick="Reset"><span class="oi oi-action-undo"></span></button>
            </div>
        </div>
    </div>

@code {
    private Pomodoro currentPomodoro = new Pomodoro();
    private TimeSpan t { get; set; }
    private double timeElapsed { get; set; }
    private int indexTab;
    private string timeElapsedString { get; set;}
    private string pomodoroTitle;
    private string[] pomodoroState = new string[]{"Travail","Pause"};
    private string[] mode = new string[] { "mode studieux", "mode flemme" };
    private string startBtn = "Démarrer";
    private string modeBtn;

    private bool lazyMode = false;

    public void Start()
    {
        currentPomodoro.StartPomodoro();
        if (startBtn == "Redémarrer") { startBtn = "Démarrer"; }
    }

    public void Stop()
    {
        currentPomodoro.StopPomodoro();
        startBtn = "Redémarrer";
    }

    public void Reset()
    {
        currentPomodoro.ResetPomodoro();
    }

    public void TimeElapsed()
    {
        timeElapsed = currentPomodoro.TimeElapsed();
        t = TimeSpan.FromMilliseconds(timeElapsed);

        // Affichage du pomodoro avec les minutes et les secondes
        timeElapsedString = string.Format("{0:D2} : {1:D2}", t.Minutes, t.Seconds);
    }


    /// <summary>
    /// Permet de rafraîchir le pomodoro lors de l'initialisation
    /// </summary>
    protected override void OnInitialized()
    {
        var timer = new Timer(new TimerCallback(_ =>
        {
            TimeElapsed();
            GetPomodoroString();

            InvokeAsync(() =>
            {
                StateHasChanged();
            });

        }), null, 1000, 1000);
    }

    /// <summary>
    /// Pour les jours où on n'a pas du tout envie de travailler :)
    /// Pour Benjamin c'est tout le temps ! 
    /// </summary>
    public void changeMode()
    {
        if (!lazyMode)
        {
            lazyMode = true;
        } else
        {
            lazyMode = false;
        }
    }

    public void GetPomodoroString()
    {
        indexTab = currentPomodoro.getIndexTabSeq();

        if (lazyMode == false)
        {
            modeBtn = mode[1];

            if ((indexTab % 2) == 0 )
            {
                pomodoroTitle = pomodoroState[0];
            } else
            {
                pomodoroTitle = pomodoroState[1];
            }
        } else
        {
            modeBtn = mode[0];

            if((indexTab % 2) == 0)
            {
                pomodoroTitle = pomodoroState[1];
            } else
            {
                pomodoroTitle = pomodoroState[0];
            }
        }

    }
}

