@page "/"
@using System.Threading;
@using Data;
@using System;

<div>
    <h3 class="m-3 text-center">Gérer son temps comme il faut</h3>
</div>

<div class="card text-center m-auto" style="width: 60vw;">
    <div class="card-header bg-dark text-light">
        <h2>@titleString</h2>
    </div>
    <div class="card-body">
        <h1 class="m-4">@timeElapsedString</h1>
        <button class="btn btn-success actiontimer" @onclick="Start"><span class="oi oi-media-play"></span> Démarrer</button>
        <button class="btn btn-danger actiontimer" @onclick="Stop"><span class="oi oi-media-pause"></span> Pause</button>
        <button class="btn btn-warning actiontimer" @onclick="Reset"><span class="oi oi-action-undo"></span> Réinitialiser</button>
    </div>
</div>

@code {
    public Pomodoro currentPomodoro = new Pomodoro();
    private double timeElapsed { get; set; }
    private string timeElapsedString { get; set;  }
    private TimeSpan t { get; set; }
    private string titleString = "Travail";

    public void Start()
    {
        currentPomodoro.StartPomodoro();
    }

    public void Stop()
    {
        currentPomodoro.StopPomodoro();
    }

    public void Reset()
    {
        currentPomodoro.ResetPomodoro();
    }

    public void TimeElapsed()
    {
        timeElapsed = currentPomodoro.TimeElapsed();
        t = TimeSpan.FromMilliseconds(timeElapsed);
        timeElapsedString = string.Format("{0:D2} : {1:D2}", t.Minutes, t.Seconds); // Permet d'afficher les minutes et les secondes
    }


    protected override void OnInitialized()
    {
        // Permet de rafraîchir le pomodoro
        var timer = new Timer(new TimerCallback(_ =>
        {
            TimeElapsed();

            InvokeAsync(() =>
            {
                StateHasChanged();
            });

        }), null, 1000, 1000);
    }

}

