@page "/SessionsForm"
@using Model;
@using System.Text.Json;
@inject IJSRuntime JSRuntime;

<EditForm Model="@_sessionModel" OnValidSubmit="addSession">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <h2 class="text-center font-weight-bold m-5">
        Sessions
    </h2>
    <div class="formSession m-auto" style="width:30vw">
        <div class="form-group">
            <InputText class="form-control" id="name" @bind-Value="_sessionModel.Name" placeholder="Nom de la session"
                       @oninput="@(EventCallback.Factory.CreateBinder<string>(this, newValue => Task.FromResult(getNameForm(newValue)),
                                   string.Empty))" />
        </div>

        <div class="form-group">
            <label>Nombre de pomodoros</label>
            <InputNumber class="form-control" id="nbPomodoro" @bind-Value="_sessionModel.NbPomodoros"
                         @oninput="@(EventCallback.Factory.CreateBinder<string>(this, newValue => Task.FromResult(getNbPomodoro(newValue)),
                                   string.Empty))" />
        </div>
        <button type="submit" class="btn btn-primary m-auto" style="display:block">Ajouter</button>
    </div>
</EditForm>
<div>
    <img src="../medias/images/kitten.png" alt="kitten" class="kitten" />
</div>
<div>
    <span id="resultJson"></span>
</div>



@code {

    private SessionModel _sessionModel = new SessionModel();

    private async Task getNameForm(string currentValue)
    {
        await JSRuntime.InvokeVoidAsync(
            "setElementById",
            "resultJson",
            $"Current name is: {currentValue}"
        );
    }

    private async Task getNbPomodoro(string currentValue)
    {
        await JSRuntime.InvokeVoidAsync(
            "setElementById",
            "resultJson",
            $"Current nb pomodoro is: {currentValue}"
        );
    }

    private async Task addSession()
    {
        await JSRuntime.InvokeVoidAsync(
            "setElementById",
            "resultJson",
            JsonSerializer.Serialize(_sessionModel)
        );
    }
}