@page "/Tags"
@using System.Net.Http
@using Model;

<TagsForm></TagsForm>
<div class="m-5">
    <table class="table m-auto" style="width:60vw; margin-top: 150px !important">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            @if (TagsList.Count == 0)
            {
                <tr>

                    <td>@LoadingMessage</td>

                </tr>
            }
            else
            {
                @foreach (TagModel item in TagsList)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.Name
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@code{

    private List<TagModel> TagsList = new List<TagModel>();
    HttpClient Http = new HttpClient();
    private string LoadingMessage = "Liste des tags en cours de chargement";

    // Requête GET pour afficher les tags
    protected override async Task OnInitializedAsync()
    {
        var ApiUri = "https://localhost:44313/api/Tags";
        TagsList = await Http.GetJsonAsync<List<TagModel>>(ApiUri);
    }

}

