@page "/Tags"
@using Model;
@using System.Text.Json;

<TagsForm></TagsForm>
<div class="m-5">
    <table class="table m-auto" style="width:60vw; margin-top: 150px !important">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Pomodoro
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    QR Code
                </td>
            </tr>
        </tbody>
    </table>
</div>

@code{ }