@page "/TagsForm"
@using Model;
@using System.Net.Http;

<EditForm Model="@_tagModel" OnValidSubmit="addTag">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <h2 class="text-center font-weight-bold m-5" style="margin-top:80px !important">Tags</h2>
    <div class="formSession m-auto" style="width:30vw;">
        <div class="form-group">
            <InputText class="form-control" id="name" @bind-Value="_tagModel.Name" placeholder="Nom du tag" />
        </div>
        <button type="submit" class="btn btn-primary m-auto" style="display:block;">Ajouter</button>
    </div>
</EditForm>
<div>
    <img src="../medias/images/kitten-2.png" alt="kitten" class="kitten" />
</div>
<div>
    <p class="@backgroundColor message">@StatusMessage</p>
</div>

@code {
    private TagModel _tagModel = new TagModel();
    private HttpClient http = new HttpClient();
    private string StatusMessage { get; set; }
    private string backgroundColor { get; set; }
    //private List<TagModel> TagsList = new List<TagModel>();


    private async void addTag()
    {


        var Tag = new TagModel { Name = _tagModel.Name };
        var ApiUri = "https://localhost:44313/api/Tags";
        var res = await http.PostAsJsonAsync(ApiUri, Tag);

        if (res.IsSuccessStatusCode)
        {
            backgroundColor = "bg-success";
            StatusMessage = "Tag inséré dans la BDD";
            StateHasChanged();
        }
        else
        {
            backgroundColor = "bg-danger";
            StatusMessage = await res.Content.ReadAsStringAsync();
            StateHasChanged();
        }
    }

    //protected override void OnInitialized()
    //{
    //    TagsList.Add(new TagModel());
    //}


}

