@page "/Tags"
@using System.Net.Http
@using Model;

<TagsForm></TagsForm>
<div class="m-5">
    <table class="table m-auto" style="width:60vw; margin-top: 150px !important">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TagModel item in TagsList)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code{

    private List<TagModel> TagsList = new List<TagModel>();
    HttpClient Http = new HttpClient();
    
    protected override async Task OnInitializedAsync() =>   
        TagsList = await Http.GetJsonAsync<List<TagModel>>("https://localhost:44313/api/Tags");

    protected override void OnInitialized()=>
        TagsList.Add(new TagModel());

}

